---
---



@import "{{ site.theme }}";

.page-header {
    background-image: url('../pic/perso.jpg');
}

.grid {
    display: flex;
}

.col {
    flex: 1;
}

.col:last-child {
    margin-left: 20px;
}

div {
    border: 1px solid blue;
}