---
---



@import "{{ site.theme }}";

#header_wrap {
    background-image: url('../pic/perso.jpg');
}

#project_title a {
    color: #ffffff;
}

#project_title a:visited {
    color: #ffffff;
}

#project_title a:hover {
    color: #ffffff;
    text-decoration: none;
}

.grid {
    display: flex;
}

.col {
    flex: 1;
    margin-left: 20px;
}

.col:last-child {
    margin-right: 20px;
}

div {
    border:  0px solid blue;
}

.content p {
    text-align: center;
}